/* Default: ocultar filtros mobile, mostrar desktop */
.filters-container {
  display: flex;
  gap: 1rem;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem 1rem;
  box-sizing: border-box;
}

.mobile-filters {
  display: none;
  margin-bottom: 4px;
}

/* Mostrar filtros mobile, ocultar desktop desde 0 hasta 1024px */
@media (max-width: 1024px) {
  .filters-container {
    display: none !important;
  }
  .mobile-filters {
    display: block;
  }
}

/* Mostrar desktop y ocultar mobile desde 1025px en adelante */
@media (min-width: 1025px) {
  .filters-container {
    display: flex !important;
  }
  .mobile-filters {
    display: none;
  }
}
