/* ==== COMPONENTE TABLA ==== */
/* Contenedor genérico para la tabla */
.table-container {
  padding: 2rem 5rem;
}

/* Estilo general de la tabla */
.tabla-genérica {
  width: 100%;
  margin: 0;
  font-family: var(--font-paragraph);
  font-weight: 700;
  color: var(--text-color);
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.table-responsive {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

/* Estilo del encabezado */
.tabla-genérica thead {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

/* Celdas encabezado y cuerpo */
.tabla-genérica th,
.tabla-genérica td {
  padding: 1rem 1.5rem;
  text-align: left;
}

/* Primera columna con padding extra para alinear */
.tabla-genérica th:first-child,
.tabla-genérica td:first-child {
  padding-left: 2.5rem;
}

/* Última columna centrada */
.tabla-genérica th:last-child,
.tabla-genérica td:last-child {
  text-align: center;
}

/* Filas cuerpo con fondo y efecto hover */
.tabla-genérica tbody tr {
  background-color: var(--background-color);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

/* Línea separadora */
.tabla-genérica tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Hover filas */
.tabla-genérica tbody tr:hover {
  background-color: #f0f0f0;
}

/* Botón estilizado */
.edit-button {
  background-color: var(--btn-secondary-bg);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s ease;
  margin: 0 auto;
  display: block;
  color: white;
  font-family: var(--font-title-primary);
  word-spacing: 0.0313rem;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-button:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Hover conjunto: fila + botón */
.tabla-genérica tbody tr:hover .edit-button:hover {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}


@media (max-width: 768px) {
  .table-container {
    padding: 1rem;
  }

  .tabla-genérica th,
  .tabla-genérica td {
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
  }

  .edit-button {
    padding: 0.4rem 0.75rem;
    font-size: 0.875rem;
  }
}
