*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.container{
 width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  justify-content: space-between;
}
.banner-img {
  height: 30rem;
  max-height: 35rem;
  object-fit: cover;
}
.hero {
  font-family: 'Poppins', sans-serif;
  margin: 2.3rem;
}
.title-principal{
  color:#6DB0E3;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.8rem;
}
.contenido-hero {
  font-family:'Nunito', sans-serif;
  color: #111827;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 1.4rem;
}
.boton-hero {
  background-color:  #1E3A8A;
  padding: 0.78rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1rem auto;
  display:flex;
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
}
.boton-hero:hover {
  background-color: #6DB0E3;
}

.card-container {
  display: flex;
  gap: 1.5rem;
  margin:0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.card {
  background-color: #F8FAFC;
  border-radius: 12px;
  box-shadow: 0 4px 12px #00000014;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width:15.6rem;
  max-width:23.75rem;
  aspect-ratio:380 / 450;
}
.card img {
  width: 20%;
  height: auto;
  object-fit: contain;
  margin-top: 1.4rem;
}

.title-secondary {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: #111827;
  font-weight: 600;
  padding-top: 1rem;
}
.font-title{
  font-family: 'Poppins', sans-serif;
}
.card p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #111827;
  line-height: 1.4;
}
.mision-title {
  color: #6DB0E3;
  text-align: center;
  margin-top:3rem; 
  font-family:'Poppins', sans-serif;
  font-size: 2rem;
}
.subtitle{
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6;
  font-style: italic;
}
.mision-text{
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  color: #111827;
  line-height: 1.6;
}

