<header class="header">
  <a routerLink="/main/inicio" class="nav-link-logo">
    <img class="logo" src="img/logo_oscuro_horizontal_1.png" alt="" />
  </a>
  <button class="hamburger" (click)="toggleMenu()" aria-label="Abrir menú">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav class="nav" [class.open]="menuOpen">
    <ul class="nav justify-content-center">

      <li class="nav-item">
        <a routerLink="materias" class="nav-link" routerLinkActive="active">Mis Materias</a>
      </li>
      <li>
        <a routerLink="mi-perfil" class="nav-link" routerLinkActive="active">Mi perfil</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="actividades" class="nav-link" routerLinkActive="active">Actividades</a>
      </li>
      <li>
        <a routerLink="material-estudio" class="nav-link" routerLinkActive="active">Material de Estudio</a> 
      </li> -->
      <li class="nav-link" (click)="logout()">Cerrar sesión</li>
    </ul>
  </nav>
</header>