


<footer class="footer">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-4">
            <img
              class="logo-chico"
              src="../assets/img/logo_oscuro_horizontal_1.png.png"
              alt="Logo Thinktopia"
            />
          </div>
          <div class="col-12 col-md-8 text-md-end">
            <p class="copyright mb-2 mb-md-0">
              Thinktopia &copy; 2025 - Todos los derechos reservados
            </p>
            <ul class="social-media list-unstyled mb-0">
              <li class="d-inline-block me-3">
                <a href="#" aria-label="Instagram de Thinktopia">
                  <img src="../assets/icons/instagram.svg" alt="Instagram" />
                  Thinktopia
                </a>
              </li>
              <li class="d-inline-block">
                <a href="#" aria-label="Facebook de Thinktopia">
                  <img src="../assets/icons/facebook.svg" alt="Facebook" />
                  Thinktopia
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
