/* ==== HEADER - NAVBAR ==== */

.navbar {
  background-color: var(--primary-color) !important;
}

.navbar img {
  max-width: 12.5rem;
  height: auto;
}

.navbar-toggler {
  border: 2px solid rgb(212, 212, 212) !important;
  margin-right: 1rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--btn-primary-text) !important;
  font-family: var(--font-nav);
  font-weight: 500;
  padding-bottom: 4px;
  letter-spacing: 0.0313rem;
  padding: 0 0.5rem;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2.7px;
  background-color: #E6F2FF; 
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}