<!-- Importante: Esto lo construi utilizando la versión 5.3.6(Ultima) de Boostrap. Si tienen una versión mas vieja como 5.3 tengo entendido que de igual manera les debería funcionar las clases de boostrap incorporadas en el Navbar.   -->

<!-- Paso a paso: Copiar el codigo HTML y adaptarlo en la pagina en la que estas trabajando que tenga que ver con el Dashboard. Hacer exactamente lo mismo con los estilos que se encuentran en navbar-dashboard.css -->

<header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="index.html">
          <img
            src="../assets/img/logo_oscuro_horizontal_1.png.png"
            alt="Logo de ThinkTopia"
            width="222"
            height="63"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link " href="dashboard.html">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mis Cursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="reportes.html">Reportes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="asistencia.html">Asistencias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="actividades.html">Actividades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gestion-contenido-docente.html">Gestión de Contenido</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

<!-- Importante importar scripts de JS-Boostrap antes del final del body para que funcione el hamburger button :D -->
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
      crossorigin="anonymous"
    ></script>
    