@import url('./variables.css');
@import url('_filters.css'); 
/* ==== SECCIÓN DE TÍTULO ==== */
.title,
.section-container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem 1rem 1rem;
    box-sizing: border-box;
}

.title-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: nowrap;
    overflow: hidden;
    min-width: 0;
}

.title-icon img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.title-icon img:hover {
    transform: rotate(-10deg) scale(1.1);
}

.title-icon h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    font-family: var(--font-title-primary);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    flex-grow: 1;
}

.secondary-title {
    font-size: 2rem;
    font-family: var(--font-title-primary);
    color: var(--text-primary);
}

@media (max-width: 768px) {
    .secondary-title {
        font-size: 1.6rem;
    }
}

@media (max-width: 576px) {
    .title-icon h1 {
        font-size: 1.3rem;
    }

    .title-icon img {
        width: 32px;
        height: 32px;
    }

    .secondary-title {
        font-size: 1.4rem;
    }
}

@media (max-width: 991.98px) {
    .mobile-filters {
        display: block;
    }
    .filters-container {
        display: none; 
    }
}