@import url('./variables.css');
@import url('_filters.css');

/* ==== RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==== BODY ==== */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-paragraph);
}

/* ==== SECCIÓN DE FILTROS ==== */

/* Submenús desplegables tipo mega menú */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -0.125rem;
  display: none;
  min-width: 10rem;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
  position: absolute;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-submenu:hover > .dropdown-item {
  background-color: var(--primary-color);
  color: white;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-submenu>.dropdown-item::after {
  float: right;
  font-size: 0.75rem;
  color: #666;
}

/* Alinear con estilo del resto */

.btn-primary {
    flex-shrink: 0;
    white-space: nowrap;
    margin-right: 0;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--font-title-primary), sans-serif;
}

.filters-container {
    display: flex;
    gap: 1rem;
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem 1rem 1rem;
    box-sizing: border-box;
}

.mobile-filters {
    display: none; 
    margin-bottom: 4px;
}

.list-group a{
  color: var(--text-color);
}


@media (max-width: 768px) {
    .mobile-filters {
        display: block;
    }
    .filters-container {
        display: none; 
    }
}

.filters-container .btn-group .dropdown-toggle {
  text-align: center;
}


.entregas-container {
  padding: 2rem 5rem 2rem;
  padding-left: 5rem;
}