@import url("variables.css");
@import url("components/dashboard-navbar-footer/footer-dashboard.css");
@import url("components/dashboard-navbar-footer/navbar-dashboard.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem;
}
.filtrar-curso {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}
.form-select {
    width: 25%;
  }
.title-estadistica {
  font-family: var(--font-title-primary);
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
}
.text-filtro {
  font-size: 1rem;
  font-family: var(--font-paragraph);
}

.info-estadistica {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.tarjeta {
  border: 1px solid #ddd;
  border-radius: 12px;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.img-estadistica {
  width: 7rem;
  height: auto;
  margin-bottom: 1rem;
}

.subtitle-estadistica {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: var(--secundar-color);
  font-family: var(--font-title-secondary);
}

.text-estadistica {
  font-size: 1.1rem;
  font-weight: 600;
}

.alerta-riesgo {
  background-color: #ffe5e5;
  border: 1px solid #ff4d4f;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.img-alerta {
  width: 2.7rem;
  height: auto;
}

.text-riesgo {
  text-align: center;
  justify-content: center;
  padding: 1rem;
  font-family: var(--font-title-primary);
  font-size: 1.2rem;
  color: #ff4d4f;
}

li {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-paragraph);
}

@media (min-width: 300px) and (max-width: 900px) {
  .filtrar-curso {
    width: auto;
  }
  .title-estadistica {
    font-size: 1.7rem;
  }
  .form-select {
    width: 60%;
  }
  .text-filtro {
    font-size: 0.95rem;
  }
  .img-estadistica {
    width: 3rem;
  }
  .subtitle-estadistica {
    font-size: 1rem;
  }
  .text-estadistica {
    font-size: 0.95rem;
  }
  .alerta-riesgo {
    width: auto;
    height: 3rem;
  }
  .img-alerta {
    width: 1rem;
    margin: 1rem auto;
  }
  .text-riesgo {
    font-size: 0.7rem;
  }
  .ver-mas {
   font-size: 1rem;
  }
  li {
    font-size: 0.9rem;
  }
}

@media (min-width: 1000px) and (max-width: 1400px){
.title-estadistica {
    font-size: 1.9rem;
  }
  .form-select {
    width: 25%;
  }
  .text-filtro {
    font-size: 1rem;
  }
  .img-estadistica {
    width: 5.2rem;
  }
  .subtitle-estadistica {
    font-size: 1.4rem;
  }
  .text-estadistica {
    font-size: 1.2rem;
  }
 
  .img-alerta {
    width: 3rem;
  
  }
  .text-riesgo {
    font-size: 1rem;
  }
  .ver-mas {
   font-size: 1.1rem;
  }
  li {
    font-size: 0.9rem;
  }
}

