@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
.filtrar-curso {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}

.title-estadistica {
  font-family: var(--font-title-primary);
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
}
.text-filtro {
  font-size: 1rem;
  font-family: var(--font-paragraph);
}


.info-estadistica {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.tarjeta {
  border: 1px solid #ddd;
  border-radius: 12px;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.img-estadistica {
  width: 7rem;
  height: auto;
  margin-bottom: 1rem;
}

.subtitle-estadistica {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: var(--secundar-color);
  font-family: var(--font-title-secondary);
}

.text-estadistica {
  font-size: 1.1rem;
  font-weight: 600;
}

.alerta-riesgo {
  background-color: #ffe5e5;
  border: 1px solid #ff4d4f;
  color: #a8071a;
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 50rem;
}

.tarjeta-alerta{
  width:auto;
  height:4rem;

  object-fit: cover;
}

.text-riesgo {
  text-align: center;
  justify-content: center;
  font-family: var(--font-title-primary);
  font-size: 1.3rem;
}


.lista-estudiantes {
  list-style: none;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.lista-estudiantes li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.estudiante {
  width: 1rem;
  height: 1rem;
  margin-right: 0.8rem;
}
