@import url(' ./variables.css  ' );

.nav {
    background-color: var(--primary-color);
    display:flex;
    justify-content: space-between;
     text-align: center;
    
}

.nav ul {display: flex; 
        flex-direction:row;
        list-style: none; 
         text-align: center;
        justify-content: center;
          color: black;
         margin: 5em;
          gap: 50px;}


.nav a {font-family:var(--font-nav);
        text-decoration: none;
        color: var(--text-color);
        }
          

        .logo{ width:auto ;height:auto;
                          
       }


         
   
   