
/* Se debe importar en el archivo CSS que se usara, por ejemplo: @import url('variables.css'); */
/* Ejemplo de uso de las variables: background-color: var(--background-color); */

/* Ajusten las paletas de colores, fuentes, etc si es necesario! */

 @font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --primary-color: #6DB0E3;  
  --secundary-color: #1E3A8A;
  --background-color: #F8FAFC;
  --text-color: #111827;

  --font-title-primary: 'Poppins', sans-serif;
  --font-title-secondary: 'Inter', sans-serif;
  --font-paragraph: 'Nunito', sans-serif;
}
 