
/* Se debe importar en el archivo CSS que se usara, por ejemplo: @import url('variables.css'); */
/* Ejemplo de uso de las variables: background-color: var(--background-color); */

/* Ajusten las paletas de colores, fuentes, etc si es necesario! */
:root {
     --primary-color: #6DB0E3;  
    --secundary-color: #1E3A8A;
    --background-color: #F8FAFC;
    --text-color: #111827;
    --main-font: 'Nunito', sans-serif;
    --secundary-font: 'Inter', sans-serif;
    --primary-color: #6DB0E3;
    --secundar-color:#1E3A8A;
   --background-color: #F8FAFC;
   --text-color: #111827;

  /* Tipografia, fuentes */
   --font-title-primary: 'Poppins', sans-serif;
   --font-title-secondary: 'Inter', sans-serif;
   --font-paragraph: 'Nunito', sans-serif;
   --font-nav: 'Poppins', sans-serif;

  /* Botones! Buttons */
  --btn-primary-bg: #47ACE5; /* Celeste mas fuerte para botones */
  --btn-primary-text: white;
  --btn-primary-hover: var(--primary-color-hover);
  --btn-secondary-bg: var(--color-secondary);
  --btn-secondary-text: var(--color-white);
  /* --btn-disabled-bg: #d1d5db;       
  --btn-disabled-text: #9ca3af;  */
}
    